#todolist-root {
    
    .todolist-container {
        place-content: center;
        .todolist-header {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .todolist-form {
            display: flex;
            margin: 10px;
            justify-content: center;

            .taskName-input {
                margin: 10px;
            }

            .priority-select {
                margin: 10px;
                width: 140px;
            }

            .sort-select {
                margin: 10px;
                width: 200px;
            }

            .add-button {
                margin: 10px;
                height: 55px;
            }
        }
    }

    .todolist-task-container {
        padding: 20px;
    }


    .task-container {
        $LOW_PRIORITY: #55efc4;
        $NORMAL_PRIORITY: #ffeaa7;
        $HIGH_PRIORITY: #ff7675;

        justify-content: space-between; 
        align-items: center;
        display: flex;
        margin: 5px 0;
        padding: 10px;
        border-radius: 10px;

        &.low_prio { background-color: $LOW_PRIORITY }
        &.norm_prio { background-color: $NORMAL_PRIORITY }
        &.high_prio { background-color: $HIGH_PRIORITY }


        .task-details {
            display: flex; 
            align-items: center;

            .task-label {
                cursor: pointer;
                &.task_complete {
                   text-decoration: line-through;
                }
            }

            .remove-icon {
                cursor: pointer;
            }
        }
    }

}